.blue {
  color: blue;
}
.green {
  color: green;
}
#large {
  font-size: 60px;
}
h1 {
  color: purple;
}

.box {
  width: 800px;
  height: 500px;
  border-style: solid;
  border-color: red;
  border-width: 5px;
}
